{
    admin off
    auto_https off
    http_port 80
}

http://tv.{{ domain }} {
    reverse_proxy jellyfin:{{ jellyfin_port }}
}

http://cargo.{{ domain }} {
    reverse_proxy qbittorrent:{{ qbittorrent_port }}
}

http://sonarr.{{ domain }} {
    reverse_proxy sonarr:{{ sonarr_port }}
}

http://radarr.{{ domain }} {
    reverse_proxy radarr:{{ radarr_port }}
}

http://prowlarr.{{ domain }} {
    reverse_proxy prowlarr:{{ prowlarr_port }}
}

http://grafana.{{ domain }} {
    reverse_proxy grafana:{{ grafana_port }}
}

http://influxdb.{{ domain }} {
    reverse_proxy influxdb:{{ influxdb_port }}
}
