---
services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    networks:
      - media-net
    volumes:
      - jellyfin-config:/config
      - {{ external_drive_mount }}/data:/voidcentury
      - {{ onepiece_mount }}/data:/onepiece
    environment:
      - PUID={{ media_uid_resolved }}
      - PGID={{ media_gid_resolved }}
      - TZ={{ timezone }}

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    networks:
      - media-net
    volumes:
      - qbittorrent-config:/config
      - /home/{{ main_user }}/qbittorrent/completed:/downloads/completed
      - /home/{{ main_user }}/qbittorrent/in-progress:/downloads/in-progress
      - /home/{{ main_user }}/torrents:/torrents
    environment:
      - PUID={{ media_uid_resolved }}
      - PGID={{ media_gid_resolved }}
      - TZ={{ timezone }}
      - WEBUI_PORT={{ qbittorrent_port }}

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    networks:
      - media-net
    volumes:
      - sonarr-config:/config
      - {{ external_drive_mount }}/data:/voidcentry
      - {{ onepiece_mount }}/data:/onepiece
      - /home/{{ main_user }}/qbittorrent/completed:/downloads/completed
    environment:
      - PUID={{ media_uid_resolved }}
      - PGID={{ media_gid_resolved }}
      - TZ={{ timezone }}

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    networks:
      - media-net
    volumes:
      - radarr-config:/config
      - {{ external_drive_mount }}/data:/voidcentry
      - {{ onepiece_mount }}/data:/onepiece
      - /home/{{ main_user }}/qbittorrent/completed:/downloads/completed
    environment:
      - PUID={{ media_uid_resolved }}
      - PGID={{ media_gid_resolved }}
      - TZ={{ timezone }}

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    networks:
      - media-net
    volumes:
      - prowlarr-config:/config
    environment:
      - PUID={{ media_uid_resolved }}
      - PGID={{ media_gid_resolved }}
      - TZ={{ timezone }}

volumes:
  jellyfin-config:
  qbittorrent-config:
  sonarr-config:
  radarr-config:
  prowlarr-config:

networks:
  media-net:
    external: true
